when: << pipeline.parameters.run-identity-workflow >>
jobs:
  - identity-init:
      context: Vercel

  - push-docker-image:
      name: push-identity-service
      context: [Vercel, dockerhub]
      service: identity-service
      requires:
        - identity-init
      filters:
        branches:
          only: main

  - test:
      name: test-identity-service
      context: Vercel
      service: identity-service
      requires:
        - identity-init
