when: << pipeline.parameters.run-web-workflow >>
jobs:
  - web-init:
      context:
        - Vercel

  # TODO: Replace demo code with cloudflare and re-enable
  # Cut a demo if not main
  # - web-build-demo:
  #     context:
  #       - Vercel
  #     requires:
  #       - web-init
  #     filters:
  #       branches:
  #         ignore: /^main$/
  # - web-deploy-demo:
  #     context: Audius Client
  #     requires:
  #       - web-build-demo
  #     filters:
  #       branches:
  #         ignore: /^main$/

  # Build
  - web-build-production:
      context:
        - Vercel
      requires:
        - web-init
      filters:
        branches:
          only: /(^release.*)$/

  - web-build-ssr-production:
      context:
        - Vercel
      requires:
        - web-init
      filters:
        branches:
          only: /(^release.*)$/

  - web-check-ssr-production-bundlesize:
      context:
        - Vercel
      requires:
        - web-build-ssr-production

  - web-deploy-release-candidate:
      context: Audius Client
      requires:
        - web-init
        - web-build-production
        - web-build-ssr-production
        - web-check-ssr-production-bundlesize
      filters:
        branches:
          only: /(^release.*)$/

  # Release production web.
  - web-hold-production:
      type: approval
      requires:
        - web-build-production
        - web-build-ssr-production
        - web-check-ssr-production-bundlesize
      filters:
        branches:
          only: /(^release.*)$/
  - web-deploy-production-s3:
      context: Audius Client
      requires:
        - web-hold-production
      filters:
        branches:
          only: /(^release.*)$/
  - web-deploy-production-cloudflare:
      context:
        - Audius Client
        - slack-secrets
      requires:
        - web-hold-production
      filters:
        branches:
          only: /(^release.*)$/

  # Upload sourcemaps
  - web-deploy-sentry-sourcemaps:
      context: Audius Client
      requires:
        - web-hold-production
      filters:
        branches:
          only: /(^release.*)$/

  # Distribute production desktop binaries.
  - web-hold-dist-mac-production:
      type: approval
      requires:
        - web-build-production
      filters:
        branches:
          only: /(^release.*)$/
  - web-dist-mac-production:
      context:
        - Audius Client
        - Vercel
        - slack-secrets
      requires:
        - web-hold-dist-mac-production
      filters:
        branches:
          only: /(^release.*)$/
  - web-hold-dist-win-production:
      type: approval
      requires:
        - web-build-production
      filters:
        branches:
          only: /(^release.*)$/
  - web-dist-win-production:
      context:
        - Audius Client
        - Vercel
        - slack-secrets
      requires:
        - web-hold-dist-win-production
      filters:
        branches:
          only: /(^release.*)$/
  - web-hold-dist-linux-production:
      type: approval
      requires:
        - web-build-production
      filters:
        branches:
          only: /(^release.*)$/
  - web-dist-linux-production:
      context:
        - Audius Client
        - Vercel
        - slack-secrets
      requires:
        - web-hold-dist-linux-production
      filters:
        branches:
          only: /(^release.*)$/
