harmony-init:
  working_directory: ~/apps
  docker:
    - image: cimg/node:20.19
  steps:
    - checkout

    - create_concatenated_patch_file:
        filename: combined-patch-file.txt

    - restore_cache:
        keys:
          - npm-cache-2025-10-01-{{ checksum "package-lock.json" }}-{{ checksum "combined-patch-file.txt" }}

    # Lint
    - run:
        name: lint
        command: |
          npx turbo run lint --filter=@audius/harmony

    # Persist node modules directory to workspace
    - persist_to_workspace:
        root: ./
        paths:
          - node_modules
          - packages/harmony/node_modules
