.container {
  display: flex;
  justify-content: stretch;
  position: relative;
  width: 100%;
  flex: 1;
  min-height: 0px;
  transition: background 0.5s ease-in-out;
  border-radius: 12px;
  overflow: hidden;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
  min-width: 0;
  justify-content: center;
}

.contestLabelWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}

.contestLabel {
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.topSection {
  display: flex;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 4px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  gap: 4px;
}

.topSectionLeft {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 4px;
}

.scrubberContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.scrubber {
  flex: 1;
  margin-right: 16px;
}

.bottomSection {
  margin-top: 0;
  display: flex;
  align-items: center;
}

.shareButton {
  position: absolute;
  right: 6px;
}

.logo {
  margin-right: 16px;
  opacity: 0.5;
}

.logo path {
  fill: #ffffff;
}

.shareButtonHolder {
  margin: 0px 16px 0px auto;
}

.titleContainer {
  margin: 0px auto 0px 12px;
  min-width: 0;
}

.artwork {
  height: 106px;
  width: 106px;
}

.artworkWrapper {
  display: flex;
  align-items: center;
  padding: 8px;
}
