.centeredContent {
  display: flex;
  justify-content: center;
}

.titleContainer {
  margin-top: var(--harmony-unit-3);
  text-align: center;
}

.title {
  color: var(--harmony-secondary);
  font-size: var(--harmony-font-l);
  font-weight: var(--harmony-font-bold);
  line-height: 140%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loadingStateSpinner {
  width: 24px;
  height: 24px;
}

.container {
  width: 375px;
  flex-direction: column;
  padding: 64px 24px 0px 24px;
}

@media (max-width: 375px) {
  .container {
    width: 100%;
  }
}

.tile {
  margin-top: var(--harmony-unit-2);
  background-color: var(--harmony-n-25);
  border: 1px solid var(--harmony-n-100);
  border-radius: 8px;
  padding: var(--harmony-unit-3) var(--harmony-unit-3);
}

.userInfoContainer {
  padding-bottom: var(--harmony-unit-4);
  margin-top: var(--harmony-unit-8);
}

.userInfo {
  margin: 0;
}

.profileImg {
  height: 48px;
}

.userInfoDisplayName,
.userInfoHandle {
  font-size: var(--harmony-font-m);
  font-weight: var(--harmony-font-bold);
  line-height: 120%;
  color: var(--harmony-neutral);
}

.userInfoHandle {
  font-weight: var(--harmony-font-medium);
}

.generalErrorContainer {
  text-align: center;
  margin-top: var(--harmony-unit-4);
}

.errorText {
  font-weight: var(--harmony-font-bold);
  color: var(--harmony-red);
  font-size: var(--harmony-font-m);
  line-height: 120%;
}

.formArea {
  padding-bottom: var(--harmony-unit-8);
}
